.kol1 {grid-column: span 1}
.kol2 {grid-column: span 2}
.kol3 {grid-column: span 3}
.kol4 {grid-column: span 4}
.kol5 {grid-column: span 5}
.kol6 {grid-column: span 6}
.kol7 {grid-column: span 7}
.kol8 {grid-column: span 8}
.kol9 {grid-column: span 9}
.kol10 {grid-column: span 10}
.kol11 {grid-column: span 11}
.kol12 {grid-column: span 12}

@media(max-width: 800px) {
    .kol1 {grid-column: span 6}
    .kol2 {grid-column: span 6}
    .kol3 {grid-column: span 6}
    .kol4 {grid-column: span 6}
    .kol5 {grid-column: span 6}
    .kol6 {grid-column: span 12}
    .kol7 {grid-column: span 12}
    .kol8 {grid-column: span 12}
    .kol9 {grid-column: span 12}
    .kol10 {grid-column: span 12}
    .kol11 {grid-column: span 12}
    .kol12 {grid-column: span 12}
}

@media(max-width: 500px) {
    .kol1 {grid-column: span 12}
    .kol2 {grid-column: span 12}
    .kol3 {grid-column: span 12}
    .kol4 {grid-column: span 12}
    .kol5 {grid-column: span 12}
    .kol6 {grid-column: span 12}
    .kol7 {grid-column: span 12}
    .kol8 {grid-column: span 12}
    .kol9 {grid-column: span 12}
    .kol10 {grid-column: span 12}
    .kol11 {grid-column: span 12}
    .kol12 {grid-column: span 12}
}

@media(max-width: 800px) {
    .logo{
        height: 90px;
        position: absolute;
        top: 5px;
        left: 5px;
    }
}
#container{
    background-color: #B1C9E0;
    display: flex;
    flex-direction: row;
    column-gap: 5px;
}
.hogm{
    order:1;
    width: 85%;
}
body{
    background-color: white;
}
header{
    width: 100%;
    background-color: #595952;
    border-bottom: rgba(51,51,47,0.96) solid 5px;
    text-align: center;
}

.logo{
    max-height: 120px;
    min-width: 40px;
    position: absolute;
    top: 5px;
    left: 5px;
}

.banner{
    max-width: 750px;
    min-width: 400px;
    width: 100%;
    display: block;
    margin: 0 auto;
}

nav{
    border-left: rgba(51,51,47,0.96) solid 5px;
    background-color: #595952;
    width: 20%;
    height: 100%;
    order: 2;
}
nav div{
    display: grid;
    grid-template-rows: 25vh;
    background-color: #595952;
    text-align: center;
}
nav div img{
    height: 80%;
    width: 100%;
    display: block;
}



a {
    text-decoration: none;
    color: white;
}
main{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.kol10{
    font-size: 25px;
    text-align: center;
    margin-left: 100px;
    font-family: "Lucida Sans";
    color: rgba(20,20,20,0.96)
}

.tw{



}

/* Vi skal legge inn de forskjellige sidene og teksten vår */
/* Teksten skal også tilføres linker */
